.History {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px;
}
.history--picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.history--picture h3 {
  font-size: 32px;
}
.history--picture img {
  max-width: 100%;
  border-radius: 6px;
}
