.Event {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px;
}
.event--title {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 15px;
}
.event--title p {
  color: var(--black-color);
  font-size: 24px;
  font-weight: bold;
}
.event--content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 15px;
}
.event--content p {
  color: var(--black-color);
}
.event--content__date {
  display: flex;
  gap: 40px;
}
.event--content__date p {
  font-size: 32px;
  font-weight: 600;
}
.divider {
  width: 1px;
  background-color: var(--grey-color);
}
.event--content button {
  background-color: var(--pink-color);
  padding: 10px 25px;
  border: none;
  outline: none;
  border-radius: 6px;
  font-size: 14px;
}
