.Invitation {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  text-align: center;
}

.invitation--title {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.invitation--title h1 {
  font-size: 28px;
}
.invitation--title p {
  color: var(--color-black);
}

.invitation--date {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.invitation--date span {
  font-size: 14px;
}
.invitation--date h1 {
  font-size: 36px;
  color: var(--green-color);
}

.invitation--timer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.invitation--timer__content {
  display: flex;
  justify-content: space-between;
}
.timer--item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.timer--item__number {
  background-color: var(--green-color);
  padding: 20px;
  border-radius: 100%;
  font-size: 20px;
  font-weight: 600;
  color: var(--pink-color);
}
