:root {
  --black-color: #212121;
  --grey-color: #bbb;
  --pink-color: #efb6c8;
}
body {
  max-width: 100vw !important;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  background-color: #eee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contentPage {
  width: 100vw;
  min-height: 100vh;
}
