:root {
  --black-color: #212121;
  --grey-color: #bbb;
  --pink-color: #fce9f1;
  --green-color: #5a6c57;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.contentPage {
  width: 100vw;
  min-height: 100vh;
}
.lato {
  font-family: "Lato";
}
.dancing {
  font-family: "Dancing Script", serif;
}
