:root {
  --black-color: #212121;
  --grey-color: #bbb;
  --pink-color: #ffe5e4;
  --green-color: #8d8e7c;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.contentPage {
  width: 100vw;
  min-height: 100vh;
}
.lato {
  font-family: "Lato";
}
.playwrite {
  font-family: "Playwrite US Modern", serif;
}
.afacad {
  font-family: "Afacad", serif;
}
